@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
.header {
  font-family: 'Tenor Sans', sans-serif;
  background-attachment: fixed;
  -webkit-box-shadow: 0 100vh rgba(0, 0, 0, 0.625) inset;
          box-shadow: 0 100vh rgba(0, 0, 0, 0.625) inset;
}

.header__logo {
  max-width: 63px;
  max-height: 63px;
  border-radius: 50%;
}

.header__nav__link::after {
  content: "";
  position: relative;
  display: block;
  width: 0px;
  height: 2px;
  margin: 2px auto;
  border-radius: 50%;
  background: #ffff;
  -webkit-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}

.header__nav__link:hover::after, .header__nav__link:focus::after {
  width: 70px;
}

.header__navbar__toggler {
  background: #ffff;
}

.header__toggler {
  border-radius: 5%;
}

.header__collapse {
  -webkit-transition: display .2s ease-in-out;
  transition: display .2s ease-in-out;
}

.header__navbar-nav {
  right: 0;
}

.header__content {
  top: 200px;
}

.header__content__title {
  margin-top: 50px;
  font-size: 7vw;
}

.contact-us {
  font-family: 'Tenor Sans', sans-serif;
  background: #ad7260;
}

.contact-us__icon {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  border-radius: 50%;
}

.contact-us__text, .contact-us__address, .contact-us__mail, .contact-us__phone, .contact-us__date {
  font-size: 12px;
}

.contact-us__text, .contact-us__address, .contact-us__date {
  margin: 10px 0;
}

.footer {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 11px;
  color: #ffff;
  background: #292828;
}

.footer__item {
  margin: 15px 0;
}

.footer__icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  padding: 2px;
  border-radius: 3%;
}

.header {
  background: url(../assets/photos/mike-kononov-OyBc1vQMwXE-unsplash.jpg) center center/cover no-repeat;
}

.main {
  font-family: 'Tenor Sans', sans-serif;
  background: #EAEAEA;
}

.main__title::after {
  content: "";
  position: relative;
  display: block;
  width: 100px;
  height: 2px;
  margin: 15px auto;
  border-radius: 50%;
  background: #292828;
}

.main__content__box {
  margin: 20px 0;
}

.main__content__icon {
  width: 50px;
  height: 50px;
}

.about-us {
  font-family: 'Tenor Sans', sans-serif;
  background: #ad7260;
}

.about-us__photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery-layout {
  font-family: 'Tenor Sans', sans-serif;
  background: #EAEAEA;
}

.gallery-layout__title::after {
  content: "";
  position: relative;
  display: block;
  width: 100px;
  height: 2px;
  margin: 15px auto;
  border-radius: 50%;
  background: #292828;
}

.gallery-layout__img {
  width: 100%;
  height: 100%;
}

.reviews {
  background: #EAEAEA;
}

.reviews__title {
  font-family: 'Tenor Sans', sans-serif;
}

.reviews__title::after {
  content: "";
  position: relative;
  display: block;
  width: 100px;
  height: 2px;
  margin: 15px auto;
  border-radius: 50%;
  background: #292828;
}

.reviews__item {
  margin: 50px 0;
  font-family: 'Source Code Pro', monospace;
  border: 1px solid #292828;
  border-radius: 5%;
  color: #292828;
}

.reviews__info__photo {
  width: 60px;
  height: 60px;
  margin: 5px;
  border: 1px solid #292828;
  border-radius: 10%;
}
/*# sourceMappingURL=main.css.map */